body{
    background-color: #F7F5F2;
}
.container {
    display: flex;
    flex-direction: column;

    margin: 0px 200px;

}
.container h2 {
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.container table {
    text-align: center;
    margin: 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid black;
    padding: 10px;
}
th {
    border-bottom: 3px solid black;
}